@model Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p>Id: @Model.Id</p>
    <p>Index: @Model.Index</p>
    <p>First Name: @Model.FirstName</p>
    <p>Last Name: @Model.LastName</p>
</div>
